<form class="new-post" action="/posts" method="post">

	<div class="post-field">
		<label>Title: </label> 
		<input type="text" name="title">
	</div>

	<div class="post-field">
		<label>Content: </label>
		<input type="textarea" name="content">
	</div>

	<button type="submit">CREATE POST! </button>
</form>